/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P-Regular";
  ---font-weight: 400;
  --accent-clr: #000;
  --background-clr: #fff;
  --label-line-clr: #fff;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --heart-fill-clr: #f00;
  --button-text-clr: #fff;
}
